* {
    max-width: 800px;
}

 input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    background-color: rgb(234, 240, 243);
    padding: 15px 15px 15px 50px;
    font-size: 18px;
  
}

 button {
    font-size: 18px;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(134, 177, 191);
}

